* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html,
body {
    margin: 0rem;
    padding: 0rem;
    position: relative;
}


.underlign {
    height: 3px;
    background-color: #7b1fed;
    width: 80px;
    margin: 10px auto;
    
}

/* =====start navbar ===== */
#navbar {
    vertical-align: middle;
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: all linear 0.5s;
}

#navbar .container {
    position: relative;
    display: flex;
    margin: 0rem 4.7rem;
    padding: 0rem 0.94rem;
    justify-content: space-between;
    align-items: center;
    
}


#navbar #logo a {
    text-decoration: none;
   color: white;
}
#navbar #logo h1 {

    letter-spacing: 0.4rem;
}

#navbar .menu {
    position: relative;
}
#navbar .menu ul {
    display: flex; 
    float: left;
}

#navbar .menu ul li {
    list-style: none;
    margin: 0.5rem;
}


#whitelink li a {
    text-decoration: none;
    color: white;
}
#blacklink li a {
    text-decoration: none;
    color: #7b1fed;
}

/* ===== end navbar ===== */



/* ===== start header ===== */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/Images/bg1.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, hsl(267, 87%, 50%) 10%, hsl(267, 85%, 53%,0.7) 90%);
  }

  header .hero {
      position: absolute;
      width: 100%;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  header .hero .photo {
    border-radius: 50%;

  }
header .hero .photo img {
    padding: 3.5px;
    border: 1.5px solid white;
    border-radius: 50%;
}

header .hero h1 {
    color: white;
    font-size: 60px;
}

header .hero h3 {
    color: white;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    
}

header .hero .socials {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

header .hero .socials a {
    text-decoration: none;
    color: #7d21ed;
    background-color: rgba(255, 255, 255, 0.804);
    border:  0.25px solid rgb(83, 80, 80);
    border-radius: 4px;
    width: 25px;
    padding-top: 2px;

}

header .hero .socials a:hover {
    background-color: #7b1fed;
    transition: all linear 1.5s t;
    color: white;
    border:  0.25px solid rgb(186, 186, 186);


}

/* ===== end header ===== */



/* ===== start about ===== */

#about {
    height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
}

#about .container {
    padding: 0px 150px;
}



#about .container .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

#about .info,
#about .skill {
    width: 50%;
}

.section-head {
    text-align: center;
    font-size: 25px;
}
.section-head h1 {
    font-size: 45px;
    color: #7b1fed;
}

#about .section-head p{
    margin:  30px 0px;
}


.info .detail .detail-item {
    margin: 25px 0px;
}
.info .detail .detail-item i {
    margin-right: 15px;
    color: #7b1fed;
}

/*   ==skill== */
.skill .container {
    width: 100%; 
    background-color: #ddd; 
    height: 5px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 15px;
  }
  
  .skills {
    background-color: #7b1fed;
    height: 5px;
    position: absolute;
    left: 0;
    text-align: right;
  }
  
  .skills p {
      margin-top: 8px;
  }
  .html {width: 90%; 
    animation: htmlpercent 1s  100ms  ease-in;
} 
  .css {width: 80%; 
    animation: csspercent 1s  200ms  ease-in;
} 
  .js {width: 65%; 
    animation: jspercent 1s  300ms  ease-in;
} 
  .php {width: 60%;
    animation: phppercent 1s  400ms  ease-in;
}
/*   ==skill animation == */

@keyframes htmlpercent {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}
@keyframes csspercent {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}
@keyframes jspercent {
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}
@keyframes phppercent {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}
/*   ==skill== */

/*   ==== end about ==== */


/*   ==== start services ==== */
  #services {
      height: 100vh;
      background-color: #bb84ff1a;
      display: flex;
      align-items: center;
      
  }

  #services .container {
      padding: 0px 100px;
  }
  #services .services-head {
      margin: 50px 0px;
  }
  .services-items {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .services-item {
      width: 30%;
      text-align: center;
      margin: 20px;
      background-color: white;
      padding: 20px;


  }.services-item i {
      color: #7b1fed;
      font-size: 30px;
  }


  .services-item h3 {
      color: gray;
      margin: 15px 0px;
  }

  .services-item p {
      margin-bottom: 15px;
  }





/*   ==== end services ==== */

/*   ==== start counters ==== */
/* source https://codepen.io/bradtraversy/pen/poJwqOK */

.counters {
    height: 50vh;
    padding: 50px 100px;
    background-color: #7b1fed;
}
.counters .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.counters {
    text-align: center;
}
.counters i {
	color: white;
    margin-bottom: 5px;
    	font-size: 40px;

}

.counters .counter {
	font-size: 40px;
	margin: 10px 0;
}



/*   ==== end counters ==== */

/*   ==== start portfolio ==== */

  #portfolio {
      height: 100vh;
  }
  
#portfolio .container {
    padding: 70px 0px;

}

#portfolio .skills-menu {
    margin: 50px 0px;
    font-size: 18px;
}


#portfolio .skills-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolio .skills-menu ul li:first-child {
    color: white;
    background-color: #7b1fed;
}

#portfolio .skills-menu ul li {
    list-style: none;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5PX 10px;
    border: 2px solid #7b1fed;
    color: #7b1fed;
    cursor: pointer;
}


.projects-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
}

.projects-box .view {
    position: absolute;
    color: #7b1fed;
    font-size: 20px;
    top: 45%;
}

.project-box {
    width: 25%;
    height: 200px;
    margin: 10px;
}

.projects-box .project1 {
    background: url(/Images/portfolio.webp);
    background-size: cover;
    background-position: center;
}
.projects-box .project2 {
    background: url(/Images/stablehair.webp);
    background-size: cover;
    background-position: center;
}
.projects-box .project3 {
    background: url(/Images/devdevshow.webp);
    background-size: cover;
    background-position: center;
}


.more-projects {
    background-color: white;
    border-radius: 5px;
    padding: 5PX 10px;
    color: #7b1fed;
    width: 150px;
    padding: 5px 10px;
    border: 2px solid #7b1fed;
    margin: auto;
    cursor: pointer;
}
.more-projects:hover {
    color: white;
    background-color: #7b1fed;
}


.more-projects i {
    font-size: 20px;
    margin-left: 3px;
}



  /*   ==== end portfolio ==== */

  /*   ==== start testimonials ==== */

  #testimonials {
      height: 100vh;
      background-color:#7d21ed1a;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 100px 0px;
  }

.swiper-container {
    width: 600px;
    height: 350px;
  }

  .swiper-slide{text-align: center;}
  .swiper-slide h3 {
      margin: 20px auto;
     
  }

  .swiper-container .pic1 {
     background: url(/Images/test1.webp);
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 150px;
      padding: 3.5px;
      border: 1.5px solid #7b1fed;
      border-radius: 300px;
      margin: auto;
  }
  .swiper-container .pic2 {
     background: url(/Images/test1.webp);
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 150px;
      padding: 3.5px;
      border: 1.5px solid #7b1fed;
      border-radius: 300px;
      margin: auto;
  }
  .swiper-container .pic3 {
     background: url(/Images/test3.webp);
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 150px;
      padding: 3.5px;
      border: 1.5px solid #7b1fed;
      border-radius: 300px;
      margin: auto;
  }

 
  

  .swiper-pagination-bullet-active {
      background-color: #7b1fed !important;
  }



/*   ==== end testimonials ==== */





/* ===== start Blog =====*/


  #blog {
    height: 100vh;
    
}

#blog .container {
    padding: 70px 150px;
}

#blog .blog-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}


#blog .blog-posts .blog-post {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 10px;
    position: relative;
    vertical-align: center;
}


.excerpt {
    background-color: hsl(267, 85%, 53%, 0.05);
    height: 50%;
    padding: 20px;
    text-align: center;
}

.excerpt p {
    margin-top: 20px;
}
.img1 {
    background: url(/Images/post1.webp);
    background-size: cover;
    height: 200px;
}

.img2 {
    background: url(/Images/pos3.webp);
    background-size: cover;
    height: 200px;
}

.img3 {
    background: url(/Images/post2.webp);
    background-size: cover;
    height: 200px;
}

.topic {
    width: 30%;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 5PX 10px;
    border: 2px solid #7b1fed;
    color: #7b1fed;
    cursor: pointer;
    top: 180px;
    left: 35%;
    text-align: center;
}






/* ===== end Blog =====*/




/* ===== start contact =====*/

  #contact {
      height: 100vh;
      background-color:#7d21ed1a;
  }

  #contact .container {
    padding: 70px 150px;
}

.contact-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-section .contact-info,
.contact-section .forum {
    width: 50%;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.contact-info .info {
    margin: 20px;
}

.contact-info .info i {
    margin-bottom: 15px;
    color: #7b1fed;
    font-size: 25px;
}
/* == forum == */

/* Style inputs with type="text",  and textareas */
input[type=text],input[type=tel], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid #7b1fed; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
   
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: #7b1fed;
    padding: 12px 20px;
    border: 2px solid #7b1fed;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #7b1fed;
    color: white;
  }

/* ===== end contact =====*/


/* ===== start footer =====*/

footer {
    height: 150px;
    background-color: #7b1fed;
    color: white;
    padding: 30px 170px;
}


footer .socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin: auto;
}

footer p {
    text-align: center;
}
footer  a {
    color: white;
    text-decoration: none;
}

footer .white-lign {
    height: 2px;
    background-color: #fff;
    width: 80px;
    margin: 20px auto;
}


.back-to-top {
   position: absolute;
   bottom: 10px;
   right: 10px;
   width: 50px;
   height: 50px;
   font-size: 25px;
}
/* ===== edn footer =====*/



