* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

/* =====start navbar ===== */
#navbar {
    vertical-align: middle;
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: all linear 0.5s;
}

#navbar .container {
    position: relative;
    display: flex;
    margin: 0rem 4.7rem;
    padding: 0rem 0.94rem;
    justify-content: space-between;
    align-items: center;
    
}


#navbar #logo a {
    text-decoration: none;
   color: white;
}
#navbar #logo h1 {

    letter-spacing: 0.4rem;
}

#navbar .menu {
    position: relative;
}
#navbar .menu ul {
    display: flex; 
    float: left;
}

#navbar .menu ul li {
    list-style: none;
    margin: 0.5rem;
}


#whitelink li a {
    text-decoration: none;
    color: white;
}
#blacklink li a {
    text-decoration: none;
    color: #7b1fed;
}

/* ===== end navbar ===== */



/* ===== start header ===== */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/Images/bg1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, hsl(267, 87%, 50%) 10%, hsl(267, 85%, 53%,0.7) 90%);
  }

  header .hero {
      position: absolute;
      width: 100%;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

header .hero .photo img {
    padding: 3.5px;
    border: 1.5px solid white;
    border-radius: 50%;
}

header .hero h1 {
    color: white;
    font-size: 60px;
}

header .hero h3 {
    color: white;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    
}

header .hero .socials {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

header .hero .socials a {
    text-decoration: none;
    color: #7d21ed;
    background-color: rgba(255, 255, 255, 0.804);
    border:  0.25px solid rgb(83, 80, 80);
    border-radius: 4px;
    width: 25px;
    padding-top: 2px;

}

header .hero .socials a:hover {
    background-color: #7b1fed;
    transition: all linear 1.5s t;
    color: white;
    border:  0.25px solid rgb(186, 186, 186);


}

/* ===== end header ===== */



/* ===== start about ===== */

#about {
    height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
}

#about .container {
    padding: 0px 150px;
}

#about .container .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

#about .info,
#about .skill {
    width: 50%;
}

#about .about-head {
    text-align: center;
}
#about .about-head h1 {
    font-size: 45px;
    color: #7b1fed;
}
#about .about-head {
    font-size: 25px;
}
#about .about-head p{
    margin:  30px 0px;
}


.info .detail .detail-item {
    margin: 25px 0px;
}
.info .detail .detail-item i {
    margin-right: 15px;
    color: #7b1fed;
}

/*   ==skill== */
.skill .container {
    width: 100%; 
    background-color: #ddd; 
    height: 5px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 15px;
  }
  
  .skills {
    background-color: #7b1fed;
    height: 5px;
    position: absolute;
    left: 0;
    text-align: right;
  }
  
  .skills p {
      margin-top: 8px;
  }
  .html {width: 90%; 
    animation: htmlpercent 1s  100ms  ease-in;
} 
  .css {width: 80%; 
    animation: csspercent 1s  200ms  ease-in;
} 
  .js {width: 65%; 
    animation: jspercent 1s  300ms  ease-in;
} 
  .php {width: 60%;
    animation: phppercent 1s  400ms  ease-in;
}
/*   ==skill animation == */

@keyframes htmlpercent {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}
@keyframes csspercent {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}
@keyframes jspercent {
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}
@keyframes phppercent {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}
/*   ==skill== */

/*   ==== end about ==== */

  #services {
      height: 100vh;
      background-color: #7d21ed1a;
  }


  #portfolio {
      height: 100vh;

  }


  #testimonials {
      height: 100vh;
      background-color:#7d21ed1a;
  }

  #blog {
      height: 100vh;
  }

  #contact {
      height: 100vh;
      background-color:#7d21ed1a;
  }



